body{
    background-color: var(--gray-95);
}
h2{
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
}
h2::after{
    content: '';
    margin: .5rem auto;
    background-image: url(../img/separador.png);
    height: 3rem;
    width: 10rem;
    display: block;
}
h3{
    font-size: 2rem;
    margin: 1rem 0;
    font-family: 'PT Sans', sans-serif;
    color: var(--orange);
}
.boton{
    background-color: var(--relacionar);
    padding: 1rem 5rem;
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
    margin-top: 2rem;
    display: inline-block;
    letter-spacing: .2rem;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
}
.boton:hover{
    text-decoration: none;
    cursor: pointer;
    background-color: var(--relacionar-hover);
}
.boton.hollow,
.boton.hollow:hover{
    background-color: var(--white);
    color: var(--plaz-color);
    border: .1rem solid var(--plaz-color);
}
.transparente{
    background-color: transparent;
    border: .1rem solid var(--white);
}
.transparente:hover{
    border: .1rem solid var(--plaz-color);
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ------ Lettering ----- */
h1.nombre-sitio span{
    position: relative;
    text-shadow: 0 0 3rem var(--secondary);
}
.char10, .char11, .char12, .char13{
    font-family: 'Oswald', sans-serif;
    font-size: 7vh;
    color: #704afb;
} 
@media only screen and (min-width: 992px){
    .char1{
        top: 1rem; left: 0;
    }    
    .char2{
        top: 1.5rem; left: -1rem;
    }    
    .char3{
        top: .5rem; left: -2rem;
    }    
    .char4{
        top: 1rem; left: -2.3rem;
    }    
    .char5{
        top: 0; left: -3rem;
    }    
    .char6{
        top: 1rem; left: -4rem;
    }    
    .char7{
        top: 0; left: -5rem;
    }    
    .char8{
        top: .5rem; left: -6.5rem;
    }    
    .char9{
        top: 0; left: -7.5rem;
    }    
/* ------ CONF ----- */
    .char10, .char11, .char12, .char13{
        left: -5rem;
        font-size: 11vw;
    }    
}
/* ---------------------------- */
/* Globales */
/* --------ˇˇˇˇˇˇˇˇˇˇˇˇ-------- */
.contenedor{
    width: 95%;
    margin: 0 auto;
}
@media only screen and (min-width:480px){
    .contenedor{
        width: 95%;
    }
}
@media only screen and (min-width:768px){
    .contenedor{
        width: 90%;
    }
}
@media only screen and (min-width:992px){
    .contenedor{
        width: 90%;
        max-width: 105rem;
    }
}
.seccion{
    padding: 3rem 0;
}
.seccion p{
    font-size: 2rem;
    text-align: center;
}

/* ---------------------------- */
/* Header */
/* --------ˇˇˇˇˇˇˇˇˇˇˇˇ-------- */
div.hero{
    background-image: url(../img/encabezado.jpg);
    height: 85vh;
    background-position: top center;
    background-size: cover;
}
div.contenido-header{
    padding-top: 2rem;
}
@media only screen and (min-width:768px){
    div.contenido-header{
        padding-top: 2rem;
    }
}
nav.redes-sociales{
    text-align: center;
    margin-bottom: 2rem; 
}
@media only screen and (min-width:768px){
    nav.redes-sociales{
        margin-bottom: 0rem; 
    }
}
nav.redes-sociales a{
    color: var(--white);
    font-size: 2.5rem;
    margin-right: 3rem;
}
@media only screen and (min-width:768px){
    nav.redes-sociales a{
        font-size: 2rem;
        margin-right: 2rem;
    }
}
nav.redes-sociales a:hover{
    color: var(--complementary);
}
nav.redes-sociales a:last-child{
    margin-right: 0;
}
div.informacion-evento{
    text-align: center;
    color: var(--white);
}
@media only screen and (min-width:768px){
    div.informacion-evento{
        width: 70%;
        margin: 0 auto;
        margin-top: 5rem;
    }
}
div.informacion-evento p{
    margin: 0;
    display: inline;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
}
div.informacion-evento p i{
    color: var(--complementary);
    font-size: 2.3rem;
}
p.fecha{
    float: left;
    padding-left: 1rem;
}
p.ciudad{
    float: right;
    text-align: right;
    padding-right: 1rem;
}
@media only screen and (min-width:768px){
    p.fecha{
        padding-left: 0;
    }
    p.ciudad{
        padding-right: 0;
    }
}
h1.nombre-sitio{
    font-family: 'PT Sans', sans-serif;
    font-size: 10vw;
    margin: 1rem;
}
h1.nombre-sitio span{
    text-transform: uppercase;
}
@media only screen and (min-width:768px){
    h1.nombre-sitio{
        font-size: 9vw;
        /* margin-bottom: 5rem; */
    }
}
p.slogan{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem!important;
    text-transform: none!important;
}
p.slogan span{
    font-weight: bold;
    color: var(--white);
    font-size: 3rem;
    text-transform: uppercase;
    font-size: 3rem;
    background-color: var(--complementary);
    padding: .5rem 3rem;
    margin-left: 0;
    border-radius: .5rem;
}
@media only screen and (min-width:768px){
    p.slogan{
        font-size: 3rem!important;
    }
}

/* ---------------------------- */
/* Barra */
/* --------ˇˇˇˇˇˇˇˇˇˇˇˇ-------- */
div.barra{
    background-color: var(--secondary);
    padding: 1.5rem 0;
}
.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
div.logo{
    width: 75%;
    float: left;
    margin-top: .5rem;
    margin-left: 1rem;
}
div.logo img{
    width: 100%;
}
@media only screen and (min-width: 768px){
    div.logo{
        width: 25%;
        margin-top: 1rem; 
    }
}
/* ------ Navegación Principal ----- */
nav.navegacion-principal{
    display: none; 
    width: 100%;
    /* margin-bottom: .5rem; */
}
nav.navegacion-principal a{
    font-family: 'Oswald', sans-serif;
    color: var(--white);
    font-size: 2rem;
    text-transform: uppercase;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 1rem;
    padding: .5rem 0;
}
nav.navegacion-principal a:hover{
    background-color: var(--complementary);
    text-decoration: none;
}
nav.navegacion-principal a:last-child{
    border: .2rem solid var(--complementary);
}
@media only screen and (min-width: 768px){
    nav.navegacion-principal{
        display: block;
        width: 70%;
        float: right; 
        text-align: right;
    }    
    nav.navegacion-principal a{
        display: inline-block;
        padding: 1rem 2.5rem;
        width: auto;
        text-align: center;
        margin-bottom: 0;
        margin-top: .5rem;
    }
}
/* ------ Menú Movil ----- */
div.menu-movil{
    width: 5rem;
    display: block;
    float: right;
    text-align: right;
    margin-top: 1.2rem;
    /* margin-bottom: 2rem; */
}
div.menu-movil:hover{
    cursor: pointer;
}
@media only screen and (min-width: 768px){
    div.menu-movil{
        display: none;
    }
}
div.menu-movil span{
    height: .8rem;
    margin-bottom: .6rem;
    background-color: var(--white);
    display: block;
}

/* ---------------------------- */
/* Talleres */
/* --------ˇˇˇˇˇˇˇˇˇˇˇˇ-------- */
section.programa{
    position: relative;
}
div.contenedor-video{
    max-width: 100%;
    height: 90rem;
    overflow-x: hidden;
    overflow-y: hidden;
}
div.contenido-programa{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
div.programa-evento{
    margin-top: 8rem;
    background-color: rgba(255, 255, 255, .8);
    padding: 1.5rem;
}
@media only screen and (min-width: 768px){
    div.programa-evento{
        width: 70%;
    }
}
@media only screen and (min-width: 992px){
    div.programa-evento{
        width: 50%;
    }
}
/* ------ Contenido Talleres ----- */
nav.menu-programa{
    width: 100%;
    border-bottom: .1rem solid var(--plaz-color);
}
@media only screen and (min-width: 768px){
    nav.menu-programa{
        display: table;
    }
}
nav.menu-programa a{
    display: block;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.9rem;
    color: var(--secondary);
    margin: 1rem auto;
    position: relative;
    padding-bottom: 1rem;
}
nav.menu-programa a:hover{
    color: var(--plaz-color);
    text-decoration: none;
}
@media only screen and (min-width: 768px){
    nav.menu-programa a{
        display: table-cell;
    }
    nav.menu-programa a.active::after{
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 20px;
        height: 10px;
        background-image: url(../img/talleres-flecha.jpg);
        bottom: -1rem;
    }
}
nav.menu-programa a i{
    color: var(--plaz-color);
    font-size: 2.5rem;
    margin-right: .5rem;
}

/* ------ Detalle Evento ----- */
div.detalle-evento{
    margin: 2rem 0;
    border-bottom: .1rem solid var(--gray-75);
    padding-bottom: 1rem;
}
div.detalle-evento:nth-child(2){
    border-bottom: none;
    padding-bottom: 0;
}
div.detalle-evento p{
    margin-bottom: 1rem;
    font-size: 2rem;
}
div.detalle-evento p i{
    color: var(--orange);
    font-size: 2rem;
    margin-right: .5rem;
}

/* ---------------------------- */
/* Invitados */
/* --------ˇˇˇˇˇˇˇˇˇˇˇˇ-------- */
ul.lista-invitados li{
    padding: 1rem;
    float: left;
}
@media only screen and (min-width: 480px){
    ul.lista-invitados li{
        width: 50%;
    }
}
@media only screen and (min-width: 768px){
    ul.lista-invitados li{
        width: 33.3%;
    }
}
div.invitado{
    position: relative;
    overflow: hidden;
    line-height: 0;
}
div.invitado img{
    max-width: 100%;
    -webkit-filter: gray;
            filter: gray;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
div.invitado:hover img{
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer;
}
div.invitado p{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 3rem;
    margin: 0;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    font-family: 'Oswald', sans-serif;
    color: var(--complementary);
    text-transform: uppercase;
    font-size: 1.5rem;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
div.invitado:hover p{
    color: var(--white);
}

/* ---------------------------- */
/* Contador */
/* --------ˇˇˇˇˇˇˇˇˇˇˇˇ-------- */
.parallax::before{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    -webkit-filter: brightness(.7);
            filter: brightness(.7);
}
div.contador{
    position: relative;
    height: auto;
}
div.contador::before{
    background-image: url(../img/bg-resumen.jpg);
    content: '';
}
ul.resumen-evento{
    position: relative;
    padding: 12rem 0;
}
ul.resumen-evento li{
    width: 50%;
    float: left;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}
@media only screen and (min-width: 768px){
    ul.resumen-evento li{
        width: 25%;
    }
}
p.numero{
    color: var(--orange);
    font-size: 7rem;
    display: block;
    margin: 0;
    line-height: 1;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

/* ---------------------------- */
/* Tabla De Precios */
/* --------ˇˇˇˇˇˇˇˇˇˇˇˇ-------- */
ul.lista-precios > li{
    padding: 1rem;
}
@media only screen and (min-width: 768px){
    ul.lista-precios > li{
        float: left;
        width: 33.3%;
    }
}
div.tabla-precio{
    border: .1rem solid var(--gray-75);
    background-color: var(--white);
    padding: 4rem 0;
    text-align: center;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
div.tabla-precio:hover{
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    border: .1rem solid var(--plaz-color);
    -webkit-box-shadow: 0 0 5rem rgba(0, 0, 0, .3);
            box-shadow: 0 0 5rem rgba(0, 0, 0, .3);
}
div.tabla-precio ul li{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5rem;
    margin: 2rem 0;
    text-transform: uppercase;
    color: var(--secondary);
    line-height: 1;
    font-weight: 700;
}
i.font-awesome{
    color: var(--green);
    font-size: 2rem;
    margin-right: .5rem;
}
div.tabla-precio h3{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
div.tabla-precio p.numero{
    color: var(--secondary);
    margin: 2rem 0; 
}

/* ---------------------------- */
/* Mapa */
/* --------ˇˇˇˇˇˇˇˇˇˇˇˇ-------- */
div.mapa{
    height: 42rem;
    z-index: 5;
}

/* ---------------------------- */
/* Testimoniales */
/* --------ˇˇˇˇˇˇˇˇˇˇˇˇ-------- */
div.testimoniales{
    padding-bottom: 2rem;
}
div.testimonial{
    padding: .5rem;
}
@media only screen and (min-width: 768px){
    div.testimonial{
        float: left;
        width: 33.3%;
    }
}
blockquote{
    background-color: var(--white);
    border: .1rem solid var(--gray-75);
    position: relative;
    margin: 0 0 1rem 0;
    padding-bottom: 2rem;
}
blockquote p{
    text-align: justify!important;
    font-size: 1.8rem!important;
    font-family: 'PT Sans', sans-serif;
    padding: 0 2rem 0 6.5rem;
    line-height: 1.5;
}
blockquote p::before{
    content: '\201c';
    position: absolute;
    left: 1rem;
    top: .1rem;
    font-size: 13rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: var(--plaz-color);
}
footer.info-testimonial{
    padding: 0;
}
footer.info-testimonial img{
    float: left;
    width: 20%;
    border-radius: 50%;
    margin-left: 2rem;
}
footer.info-testimonial cite{
    text-align: left;
    color: var(--plaz-color);
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-top: 1rem;
    width: 66.6%;
    float: right;
    font-weight: bold;
    font-style: normal;
}
footer.info-testimonial cite span{
    color: var(--secondary);
    display: block;
    text-transform: none;
    line-height: 1;
}

/* ---------------------------- */
/* NewsLetter */
/* --------ˇˇˇˇˇˇˇˇˇˇˇˇ-------- */
div.newsletter{
    position: relative;
    height: auto;
}
div.newsletter::before{
    background-image: url(../img/bg-newsletter.jpg);
    content: '';
}
div.newsletter .contenido{
    padding: 10rem 0;
    color: var(--white);
    text-align: center;
    position: relative;
}

div.newsletter .contenido p{
    font-size: 3.5rem;
    text-transform: lowercase;
    color: var(--complementary);
}
div.newsletter .contenido h3{
    color: var(--white);
    text-transform: none;
    font-size: 7rem;
    font-family: 'PT Sans', sans-serif;
}
div.newsletter .contenido h3 span{
    color: var(--white);
    text-transform: uppercase;
    font-size: 7rem;
    font-family: 'PT Sans', sans-serif;
}

/* ---------------------------- */
/* Cuenta Regresiva */
/* --------ˇˇˇˇˇˇˇˇˇˇˇˇ-------- */
div.cuenta-regresiva ul li{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
}
@media only screen and (min-width: 768px){
    div.cuenta-regresiva ul li{
        width: 25%;
        float: left;
    }
}

/* ---------------------------- */
/* Footer */
/* --------ˇˇˇˇˇˇˇˇˇˇˇˇ-------- */
footer.site-footer{
    background-color: var(--secondary);
    padding-top: 4rem;
    margin-top: 2rem;
}
footer .contenedor > div{
    color: var(--white);
    padding: 0 2rem;
    font-size: 1.2rem;
}
@media only screen and (min-width: 768px){
    footer .contenedor > div{
        width: 33.3%;
        float: left;
    }
}
footer h3{
    color: var(--white);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 2rem;
}
footer h3 span{
    color: var(--complementary);
}
footer .ultimos-tweets li{
    margin-bottom: 1rem;
}
footer nav.redes-sociales{
    text-align: left;
}

/* ------ Copyright ----- */
p.copyright{
    background-color: var(--secondary-alt);
    color: var(--white);
    padding: 1.5rem 0;
    margin: 2rem 0 0 0;
    text-align: center;
    letter-spacing: .1rem;
}

/* ---------------------------------------------------- */
/* --------- Página Interna Registro -------------- */
/* ------------------ˇˇˇˇˇˇˇˇˇˇˇˇ---------------------- */
/* ------ Galería ----- */
body.conferencia .navegacion-principal .activo{
    border-bottom: .3rem solid var(--complementary);
}
div.galeria{
    display: inline-block;
}


/* ------ Registro ----- */
#error{
    clear: both;
    display: none;
}
form.registro h3{
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
}

form.registro label{
    margin-bottom: 1rem;
    font-weight: bold;
}
form.registro div.campo input{
    padding: 1rem;
    width: 100%;
    /* margin-left: 1rem; */
}
h4{
    text-align: center;
    text-transform: uppercase;
    border-bottom: .1rem solid var(--plaz-color);
    padding-bottom: 2rem;
    font-size: 2rem;
}
div.caja{
    background-color: var(--white);
    border: .1rem solid var(--gray-75);
    padding: 2rem;
    margin: 1rem;
}
div.campo{
    padding: 1rem;
}
@media only screen and (min-width:768px){
    div.campo{
        float: left;
        width: 33.3%;
    }
}
div.paquetes .tabla-precio:hover{
    transform: none;
    box-shadow: none;
}
div.paquetes .tabla-precio input{
    clear: both;
    width: 10rem;
    margin: 1rem auto 0 auto;
    display: block;
    padding: .5rem;
}
.contenido-dia{
    padding: 2rem;
    display: none;
}
@media only screen and (min-width:768px){
    .contenido-dia > div{
        float: left;
        width: 33.3%;
    }
}
.contenido-dia > div p{
    text-align: left;
}
.contenido-dia > div label{
    display: block;
}
.contenido-dia > div input{
    margin-right: 1rem;
}
.contenido-dia > div label time{
    color: var(--plaz-color);
    font-weight: bold;
}

/* ------ Resumen y Pago ----- */
div.resumen p{
    font-size: 2rem;
    text-transform: uppercase;
}
div.resumen div.extras{
    padding: 3rem;
    font-size: 1.5rem; 
}
@media only screen and (min-width:768px){
    div.resumen div.extras{
        float: left;
        width: 50%;
    }
}
div.extras div.orden{
    text-align: left;
    margin-bottom: 2rem; 
}
div.extras div.orden input{
    margin: 1rem 0 0 0;
    padding: .5rem;
    font-size: 1.3rem; 
}
div.resumen div.total{
    padding: 3rem;
}
@media only screen and (min-width:768px){
    div.resumen div.total{
        float: left;
        width: 50%;
    }
}
div.resumen input{
    display: block;
    margin: 1rem auto;
}
div.resumen input.boton{
    border: none;
}

/* ---------------------------- */
/* Pago y Extras */
/* --------ˇˇˇˇˇˇˇˇˇˇˇˇ-------- */
#lista_productos{
    display: none;
    background-color: var(--gray-90);
    padding: 2rem 2.5rem ;
    border-radius: 1rem;
}
#suma_total{
    padding: 1rem;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: var(--green);
}

/* ------ Calendario ----- */
div.calendario h3{
    background-color: var(--plaz-color);
    clear: both;
    text-align: center;
    margin: 2rem 0 0;
    padding: 1.5rem 0;
    border-radius: 1rem 1rem 0 0;
    color: var(--white);
}
div.calendario::after{
    clear: both;
    display: block;
    content: '';
}
div.dia{
    width: 50%;
    float: left;
    border: .1rem solid var(--gray-hover);
    padding: 2.5rem;
    min-height: 21rem;
    transition: all .3s ease;
}
@media only screen and (min-width: 768px){
    div.dia{
        width: 33.3%;
    }
}
div.dia:hover{
    border: .1rem solid var(--gray-active);
    background-color: var(--gray);
    cursor: pointer;
    transform: scale(1.05);
}
div.dia p.titulo{
    color: var(--plaz-color);
    text-transform: uppercase;
    font-weight: bold;
}
div.dia p{
    font-size: 1.6rem;
}
div.dia i{
    color: var(--orange);
    opacity: .5;
    margin-right: .5rem;
    font-size: 1.8rem;
}